﻿@page "/dashboards/default"

@using Starterkit.Shared.Partials.Widgets.Cards;
@using Starterkit.Shared.Partials.Widgets.Charts;
@using Starterkit.Shared.Partials.Widgets.Engage;
@using Starterkit.Shared.Partials.Widgets.Lists;
@using Starterkit.Shared.Partials.Widgets.Tables;

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
		<_CardsWidget20></_CardsWidget20>
		<_CardsWidget7></_CardsWidget7>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
		<_CardsWidget17></_CardsWidget17>
		<_ListsWidget26></_ListsWidget26>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xxl-6">
		<_EngageWidget10></_EngageWidget10>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row gx-5 gx-xl-10">
	<!--begin::Col-->
	<div class="col-xxl-6 mb-5 mb-xl-10">
		<_ChartsWidget8></_ChartsWidget8>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xl-6 mb-5 mb-xl-10">
		<_TablesWidget16></_TablesWidget16>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-xxl-6">
		<_CardsWidget18></_CardsWidget18>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xl-6">
		<_ChartsWidget36></_ChartsWidget36>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-xl-4">
		<_ChartsWidget35></_ChartsWidget35>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xl-8">
		<_TablesWidget14></_TablesWidget14>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row gx-5 gx-xl-10">
	<!--begin::Col-->
	<div class="col-xl-4">
		<_ChartsWidget31></_ChartsWidget31>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xl-8">
		<_ChartsWidget24></_ChartsWidget24>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->

