﻿<!--begin::Indicator label-->
<span class="indicator-label">
    @ButtonLabel
</span>
<!--end::Indicator label-->

<!--begin::Indicator progress-->
<span class="indicator-progress">
    @MessageText
    <span class="spinner-border spinner-border-sm ms-2 align-middle"></span>
</span>
<!--end::Indicator progress-->

@code {

    [Parameter]
    public string ButtonLabel { get; set; } = "Enviar";

    [Parameter]
    public string MessageText { get; set; } = "Espera...";

}