﻿@inject ILogger<Index> Logger;
@inject IWebHostEnvironment Environment;
@inject IJSRuntime JS

@inject RequestAutoPartRefService AutoPartService

@page "/"
@page "/request-autopart"


<div class="my-2 mb-5">
    <div class="mb-11 text-center">
        <h1 class="text-gray-900 mb-3">
            ¿Qué repuesto necesitas?
        </h1>
        <div class="text-gray-500 fw-semibold fs-4">
            ¿Nuevo por aqui?
        </div>
    </div>
    <div class="row">
        <EditForm                   
            Model=@Model
            OnInvalidSubmit=@(() =>  IsFormStatusValidated = true )
            OnValidSubmit=@ValidSubmit
                  class="@((IsFormStatusValidated ? "was-validated" : "needs-validation") + " " + "mx-auto max-w-sm")"
            novalidate>
            <DataAnnotationsValidator />

            <div class="row g-3">
                <div class="col-sm-12 position-relative">
                    <div class="position-absolute required"></div>
                    <InputText @bind-Value="Model.UserName"
                               id="@nameof(Model.UserName)"
                               class="form-control bg-transparent required"
                               autocomplete="off"
                               placeholder="Nombre de Contacto" 
                               required/>
                    
                    <div class="form-text"></div>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Obligatorio</div>
                </div>

                <div class="col position-relative">
                    <div class="position-absolute required"></div>
                    <InputText @bind-Value="Model.UserLocalPhoneNumber"                               
                               id="@nameof(Model.UserLocalPhoneNumber)"
                               class="@("form-control bg-transparent")"
                               autocomplete="off"
                               placeholder="Numero de contacto" 
                               required/>
                    <div class="form-text">OtrosPaises: Escribe el indicador</div>
                    <div class="valid-feedback"></div>                    
                    <ValidationMessage class="text-danger" For="@(() => Model.UserLocalPhoneNumber)"/>
                </div>

                <div class="col-sm-12 position-relative">
                    <div class="position-absolute required"></div>
                    <InputText @bind-Value="Model.AutoPartName"
                               id="@nameof(Model.AutoPartName)"
                               class="form-control bg-transparent"
                               autocomplete="off"
                               placeholder="Nombre del repuesto que buscas" 
                               required/>
                    <div class="form-text"></div>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Obligatorio</div>
                </div>

                <div class="col-sm-12 text-center">
                    <label for="if-autopart-upload"
                           class="btn btn-light-danger hover-elevate-up fw-semibold fs-7 cursor-pointer">
                        <i class="fs-2x bi bi-camera-fill"></i>
                        Tomar fotos o Cargar Imagenes
                    </label>
                    <InputFile id="if-autopart-upload"
                               OnChange=@LoadRefImageFiles
                               accept="image/*"
                               style="display:none"
                               multiple/>
                    <div class="form-text"></div>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback"></div>
                </div>

                @if (isLoadingFile)
                {
                    <div class="alert alert-info d-flex align-items-center p-5">
                        <i class="ki-duotone ki-shield-tick fs-2hx text-info me-4">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>

                        <div class="d-flex flex-column">
                            <span>Subiendo Imagen...</span>
                        </div>
                    </div>
                }


                @if (loadedAutoPartImages.Any())
                {
                    <div class="separator separator-content mt-5">
                        <span class="w-125px text-gray-500 fw-semibold fs-7">Imagenes</span>
                    </div>

                    <div class="col-12 align-content-center">
                        @foreach (var item in loadedAutoPartImages)
                        {
                            <div @key=item.Key class="m-2 card bg-primary text-white position-relative w-100px h-100px float-start border-2">
                                <img
                                     src="@($"data:image;base64,{Convert.ToBase64String(item.Value)}")"
                                     class="card-img w-100px h-100px"
                                     alt="@Guid.NewGuid()">
                                <div class="position-absolute fs-7 hover-rotate-end float-end">
                                    
                                    <i @onclick="@(() => loadedAutoPartImages.Remove(item.Key))"
                                       class="text-danger fs-2x ki-solid ki-cross-circle cursor-pointer">
                                    </i>
                                    
                                </div>
                            </div>
                        }
                    </div>
                } 

                <div class="col-sm-12">                    
                    <InputTextArea @bind-Value="Model.OtherComments"
                                   id="@nameof(Model.OtherComments)"
                                   class="form-control bg-transparent"
                                   autocomplete="off"
                                   data-kt-autosize="true"
                                   placeholder="Dejanos saber mas detalles?" />
                    <div class="form-text"></div>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="d-grid mb-10">
                    <button type="submit" class="btn btn-danger">
                        <span>
                            <i class="bi bi-send"></i>
                        </span>
                        <_ButtonIndicator ButtonLabel="Quiero este Repuesto"></_ButtonIndicator>
                    </button>
                </div>
            </div>

        </EditForm>

    </div>
</div>
<script>

</script>


@functions{
    private RenderFragment MyInlineRenderFragment(string someText)
    {
        return __builder =>
        {
            <div>Razor markup here with @someText</div>
        };
    }   
}


@code {
    IJSObjectReference? module;

    public enum CountryCodes { NAN = 0, COL = 57, ECU = 593 }    

    Dictionary<Guid, byte[]> loadedAutoPartImages = new();
    long maxFileSize = 1024 * 1024 * 5;
    int maxAllowedFiles = 6;
    bool IsFormStatusValidated = false;
    bool isLoadingFile;

    ModelRequestAutopartRef Model { get; set; }

    protected override void OnInitialized()
    {
        Model ??= new();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // module = await JS.InvokeAsync<IJSObjectReference>("import", 
            //     "./Pages/Request/AutoPart.razor.js"
            // );

            // await JS.InvokeVoidAsync("validateNumericInput", DotNetObjectReference.Create(this));
        }
    }

    

    void ValidSubmit(EditContext context)
    {

        var _form = (ModelRequestAutopartRef)context.Model;
        // var _result = await module.InvokeAsync<string[]>("dropzoneFiles");
        _form.AutoPartReferenceImages = loadedAutoPartImages.Select(k => k.Value).ToList();

        AutoPartService.SendAutopartReference(_form);
    }

    
    async void LoadRefImageFiles(InputFileChangeEventArgs e)
    {
        isLoadingFile = true;

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                using (var readStream = file.OpenReadStream(maxFileSize))
                {
                    var buf = new byte[readStream.Length];
                    var ms = new MemoryStream(buf);

                    await readStream.CopyToAsync(ms);

                    loadedAutoPartImages.Add(Guid.NewGuid(), ms.ToArray());
                }

                Logger.LogInformation($"File saved: {file.Name}");

            }
            catch (Exception ex)
            {
                Logger.LogError($"File: {file.Name} Error: {ex.Message}");
                throw new Exception(ex.Message, ex);
            }
        }



        isLoadingFile = false;

        _ = InvokeAsync(() =>
                {
                    StateHasChanged();
                });

    }


}
