﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />    
</head>
<body >
    <div>
        <h1>Pedido: #@Model.OrderNum</h1>
    </div>
    <ul>
        <li>
            <p>Name: @Model.Name</p>
        </li>
        <li>
            <p>Telefono: <a href="tel:@Model.Phone"> @Model.Phone </a> </p>
        </li>        
        <li>
            <p>Repuesto: @Model.AutoPart</p>
        </li>
        <li>
            <p>Comentarios: </p>
            <p>@Model.Comments</p>
        </li>
    </ul>
    
    <div>
        <ul>
            @if (Model.ReferenceImages is not null)
            {
                foreach (var imgNameCid in Model.ReferenceImages)
                {
                    <Li>
                        <img src="cid:@(imgNameCid)" alt="@(imgNameCid)" />
                    </Li>
                }
            }
        </ul>
    </div>

</body>


</html>
