﻿@inherits LayoutComponentBase
@layout MasterInit
@using Layout._Helpers
@inject IJSRuntime JS

<div class="d-flex flex-column flex-root" id="kt_app_root">	
	<div class="d-flex flex-column flex-lg-row flex-column-fluid">
		<div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-lg-1 order-2">
			<div class="d-flex flex-center flex-column flex-lg-row-fluid">
				<div class="w-lg-500px p-10">
					@Body
				</div>
			</div>
			<div class="d-flex flex-center px-5 flex-wrap">
				<div class="d-flex fw-semibold text-primary fs-base">
					
				@* 	TODO: Terminos y Condiciones				
					<a href="#" class="px-5" target="_blank">Terminos</a>
					<a href="#" class="px-5" target="_blank">Plans</a>
					<a href="#" class="px-5" target="_blank">Contact Us</a> *@
				</div>
			</div>
		</div>
		<div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-lg-2 order-1" 
		style='background-image:url(@KTTheme.GetAssetPath("media/misc/auth-bg.jpg"))'>
			<div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">
				<a href="/" class="mb-12">
					<img alt="Logo" src='@KTTheme.GetAssetPath("media/logos/toyonissanua.png")' class="h-60px h-lg-75px" />
				</a>
				<img 
					class="d-none d-lg-block w-275px w-md-50 w-xl-500px mb-10 mb-lg-20 mx-auto" 
					src='@KTTheme.GetAssetPath("/media/illustrations/toyonissan/nissanfrontier-nobg.png")' alt="" />
				<h1 class="d-none d-lg-block text-white fs-2qx fw-bolder mb-7 text-center">
					Rapidos, <span class="text-warning fw-bold me-1">Eficientes</span> y Productivos.
				</h1>
				<div class="d-none d-lg-block text-white fs-base text-center">
					<p>
						Nos enorgullece ofrecerte una amplia selección de repuestos para
						vehículos Nissan y Toyota, todos la más alta calidad.
					</p>

					<p>
						¡<span class="text-warning fw-bold me-1">Pregunta </span> por nuestra gama y descubre la calidad que nos distingue!
					</p>
					
				</div>
			</div>
		</div>
	</div>
</div>
@code {
	private IKTThemeHelpers? KTHelper;

	protected override void OnAfterRender(bool firstRender)
	{
		KTHelper = new KTThemeHelpers(JS);
		KTHelper.addBodyClass("app-blank");
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await Task.Delay(300);
		await JS.InvokeVoidAsync("document.body.removeAttribute", "data-kt-app-reset-transition");
		await JS.InvokeVoidAsync("document.body.removeAttribute", "data-kt-app-page-loading");
	}
}